body {
  font-family: serif;
  // max-width: px;
  margin: 0 auto;
}
// p {
//   text-align: center;
// }

// header
header {
  max-width: 750px;
  color: #5F5D5D;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 14px 0 14px 16px;
  & img {
    width: auto;
    height: 100%;
  }
  .header-first-text {
    font-size: 12px;
  }
  .header-last-text {
    font-size: 16px;
    font-weight: bolder;
  }
  @media screen and (min-width: 429px) {
    & img {
      width: 62px;
      height: auto;
    }  
    .header-first-text {
      font-size: 24px;
    }
    .header-last-text {
      font-size: 32px;
    }
  }
}

// footer
footer {
  max-width: 750px;
  display: flex;
  background-color: #073160;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 16px 15px 15px 18px;
  & img {
    width: 31px;
    height: 31px;
  }
  .footer-left {
    display: flex;
    align-items: center;
  }
  .footer-first-text {
    font-size: 12px;
  }
  .footer-last-text {
    font-size: 16px;
  }
  .footer-right {
    width: 78px;
    font-size: 12px;
  }
  @media screen and (min-width: 429px) {
    & img {
      width: 62px;
      height: auto;
    }  
    .footer-first-text {
      font-size: 24px;
    }
    .footer-last-text {
      font-size: 32px;
    }
    .footer-right {
      width: 25%;
      font-size: 24px;
    }  
  }
}

// main
main {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}
// header-under
.header-under {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #1274CE, #335C93);
  color: #fff;
  p {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding: 9px 0;
  }
  & ::after, ::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 21px;
    background-image: url('/img/head-speech.png');
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom: 11px;
  }
  & ::before {
    transform: scaleX(-1);
    left: -14px;
  }
  & ::after {
    right: -14px;
  }
  @media screen and (min-width: 429px) {
    p {
      font-size: 4.2vw;
    }
    & ::after, ::before {
      width: 3.4vw;
      height: 5.6vw;
      bottom: 1.4vw;
    }
    & ::before {
      left: -1.8vw;
    }
    & ::after {
      right: -1.8vw;
    }
  }
  @media screen and (min-width: 750px) {
    p {
      font-size: 32px;
    }
    & ::after, ::before {
      width: 26px;
      height: 42px;
    }
    & ::before {
      left: -24px;
    }
    & ::after {
      right: -24px;
    }
  }
}

// mesogan
.mesogan {
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url('/img/mesogan-bg.jpg');
  background-position: center;
  background-size: contain;
  background-size: 750px;
  &-left {
    width: 50%;
    padding: 21px 0 42px 13px;
  }
  &-ttl {
    color: #5F5D5D;
    font-size: 28px;
    font-weight: bold;
  }
  &-name {
    font-weight: bold;
    font-size: 46px;
    letter-spacing: -12px;
    background: linear-gradient(90deg, #1274CE, #335C93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    padding-bottom: 6px;
  }
  &-text {
    &::after,::before {
      content: "";
      display: inline-block;
      width: 178px;
      height: 1px;
      background-image: url('/img/mesogan-border.png');
      background-position: center;
      background-size: contain;
    }
  }
  &-right {
    width: 50%;
    position: relative;
    img {
      position: absolute;
      width: 333px;
      height: 283px;
      right: 0;
      bottom: 0;
    }
  }
  @media screen and (min-width: 429px) {
    &-left {
      padding: 5.6vw 0 10vw 2vw;
    }
    &-ttl {
      font-size: 5.6vw;
    }
    &-name {
      font-size: 12vw;
      padding-bottom: 1.6vw;
    }
    &-text {
      font-size: 3.2vw;
    }
    &-right {
      width: 50%;
      img {
        width: 76vw;
        height: auto;
      }
    }
  }
  @media screen and (min-width: 750px) {
    &-left {
      padding: 42px 0 84px 38px;
    }
    &-ttl {
      font-size: 56px;
    }
    &-name {
      font-size: 92px;
      padding-bottom: 1.6vw;
    }
    &-text {
      font-size: 32px;
    }
    &-right {
      width: 50%;
      img {
        width: 666px;
        height: auto;
      }
    }
  }
}

// treatment-area
.treatment-area {
  background: linear-gradient(90deg, #1274CE, #335C93);
  padding: 16px 15px 5px 16px;
  color: #fff;
  small {
    font-size: 10px;
    font-weight: bold;
  }
  @media screen and (min-width: 429px) {
    small {
      font-size: 2.6vw;
    }
  }
  @media screen and (min-width: 750px) {
    small {
      font-size: 20px;
    }
  }
}

.Item-Content-Title {
  display: flex;
  justify-content: center;
  letter-spacing: 0.14em;
  color: #fff;
  border: 1px solid #fff;
  background-image: linear-gradient(-45deg, #fff 12px, transparent 0), linear-gradient(135deg, #fff 12px, transparent 0);
  p {
    font-size: 12px;
    padding: 9px 12px;
    border-right: 1px solid #fff;
    &:last-child {
      border-right: none;
    }
  }
  @media screen and (min-width: 429px) {
    background-image: linear-gradient(-45deg, #fff 3.3vw, transparent 0), linear-gradient(135deg, #fff 3.3vw, transparent 0);
    p {
      font-size: 3.2vw;
      padding: 2.4vw 3.2vw;
    }
  }
  @media screen and (min-width: 750px) {
    background-image: linear-gradient(-45deg, #fff 12px, transparent 0), linear-gradient(135deg, #fff 12px, transparent 0);
    p {
      font-size: 24px;
      padding: 18px 24px;
    }
  }
}

// campaign
.campaign {
  content: "";
  display: inline-block;
  width: auto;
  height: auto;
  border: 3px solid #925009;
  background-image: url('/img/campaign-bg.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  padding: 24px 6px;
  &-ttl {
    color: #99A9AC;
    font-size: 38px;
    text-align: center;
  }
  &-reservation {
    color: #5F5D5D;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0 10px;
    &::before,&::after {
      position: absolute;
      top: 0;
      content: "";
      width: 1px;
      height: 90%;
      background: #000;
      border-radius: 3px;
    }
    &::before {
      left: 0;
      transform: rotate(-25deg);
    }
    &::after {
      right: 0;
      transform: rotate(35deg);
    }
  }
  &-button {
    text-decoration: none;
    p {
      font-size: 20px;
      text-align: center;
      background-color: #F68E2F;
      color: #fff;
      border-radius: 50px;
      position: relative;
      box-shadow: 0px 0px 0px 6px #F68E2F;
      border: solid 1px white;
      width: 325px;
      margin: 13px auto 24px;
      &::after {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: url('/img/campaign-arrow.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        right: 28px;
        top: 30%;
      }
    }
  }
  &-footer {
    font-size: 12px;
    font-weight: bold;
    color: #5F5D5D;
  }
  @media screen and (min-width: 429px) {
    padding: 6.4vw 1.6vw;
    &-ttl {
      font-size: 10vw;
    }
    &-reservation {
      font-size: 4.8vw;
      padding: 0 2.6vw;
    }
    &-button {
      p {
        font-size: 5.3vw;
        width: 86vw;
        border-radius: 13vw;
        margin: 3.4vw auto 6.4;
        &::after {
          width: 8vw;
          height: 8vw;
          right: 7.4vw;
          top: 30%;
        }
      }
    }
    &-footer {
      font-size: 3.2vw;
    }
  }
  @media screen and (min-width: 750px) {
    padding: 48px 12px;
    &-ttl {
      font-size: 76px;
    }
    &-reservation {
      font-size: 36px;
      padding: 0 20px;
    }
    &-button {
      p {
        font-size: 40px;
        width: 650px;
        border-radius: 100px;
        margin: 26px auto 48px;
        &::after {
          width: 60px;
          height: 60px;
          right: 56px;
          top: 30%;
        }
      }
    }
    &-footer {
      font-size: 24px;
    }
  }
}

// detail
.detail {
  text-align: center;
  background-image: url('/img/detail-bg.png');
  background-position: center;
  background-size: contain;
  padding: 40px 16px;
  h2 {
    display: inline-block;
    color: #335C93;
    font-size: 24px;
    text-align: center;
    position: relative;
    margin-bottom: 24px;
    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 30px;
      background-image: url('/img/megason_under.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      bottom: -20px;
      left: 0;
    }
    span {
      font-size: 16px;
    }
    img {
      position: absolute;
      left: -24px;
      top: -20px;
    }
  }
  &-Content {
    position: relative;
    border: 2px solid #335C93;
    background-color: #fff;
    box-shadow: 0px 0px 0px 8px #fff;
    &::after,&::before {
      content: "";
      display: inline-block;
      width: 26px;
      height: 26px;
      background-image: url('/img/Polygon.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
    }
    &::after {
      bottom: 0;
      transform: rotate(-90deg);

    }
    &::before {
      top: 0;
    }
  }
  &-Content-Title {
    display: flex;
    justify-content: center;
    letter-spacing: 0.14em;
    &::after,&::before {
      content: "";
      display: inline-block;
      width: 26px;
      height: 26px;
      background-image: url('/img/Polygon.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
    }
    &::after {
      right: 0;
      transform: rotate(90deg);
    }
    &::before {
      right: 0;
      transform: rotate(180deg);
      bottom: 0;
    }
   p {
      font-size: 14px;
      font-weight: bold;
      padding: 16px;
      span {
        color: #F68E2F;
      }
    }
  }
  @media screen and (min-width: 429px) {
    padding: 10vw 4.2vw;
    h2 {
      font-size: 6.4vw;
      margin-bottom: 6.4vw;
      &::after {
        width: 100%;
        height: 8vw;
        bottom: -5.3vw;
        left: 0;
      }
      span {
        font-size: 4.2vw;
      }
      img {
        left: -6.4vw;
        top: -5.3vw;
      }
    }
    &-Content {
      border: 2px solid #335C93;
      box-shadow: 0px 0px 0px 8px #fff;
      &::after,&::before {
        width: 6.9vw;
        height: 6.9vw;
      }
    }
    &-Content-Title {
      letter-spacing: 0.14em;
      &::after,&::before {
        width: 6.9vw;
        height: 6.9vw;
      }
    p {
        font-size: 3.7vw;
        padding: 4.2vw;
      }
    }
  }
  @media screen and (min-width: 750px) {
    padding: 80px 32px;
    h2 {
      font-size: 48px;
      margin-bottom: 48px;
      &::after {
        width: 100%;
        height: 60px;
        bottom: -40px;
        left: 0;
      }
      span {
        font-size: 32px;
      }
      img {
        left: -48px;
        top: -40px;
      }
    }
    &-Content {
      border: 2px solid #335C93;
      box-shadow: 0px 0px 0px 8px #fff;
      &::after,&::before {
        width: 52px;
        height: 52px;
      }
    }
    &-Content-Title {
      letter-spacing: 0.14em;
      &::after,&::before {
        width: 52px;
        height: 52px;
      }
    p {
        font-size: 28px;
        padding: 32px;
      }
    }
  }
}
// trouble
.trouble {
  text-align: center;
  background-color: #EEE;
  &-head {
    color: #5F5D5D;
    font-size: 18px;
    content: "";
    background-image: url('/img/trouble-head.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 375px;
    padding: 40px 0 24px;

    p {
      text-align: center;
    }
    &-ttl {
      font-size: 24px;
      font-weight: bold;
      background-image: radial-gradient(circle at center, orange 20%, transparent 20%);
      background-position: top right;
      background-repeat: repeat-x;
      background-size: 1em 0.3em;
      padding-top: 10px;
      position: relative;
      &::before {
        content: "";
        display: inline-block;
        width: 34px;
        height: 34px;
        background-image: url('/img/Danger.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: -35px;
      }
    }
    &-worries {
      color: #335C93;
      font-size: 24px;
      font-weight: bold;
      position: relative;
      &::before {
        content: "";
        display: inline-block;
        width: 84px;
        height: 9px;
        background-image: url('/img/Concerns_under.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
      }
    }
  }
  &-wrapper {
    content: "";
    background-image: url('/img/trouble-wrapper.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 375px;
  }
  &-main {
    width: 320px;
    background-color: rgba(255,255,255,0.8);
    padding: 12px 12.5px;
    margin: auto;
    p {
      text-align: left;
      font-weight: bold;
      padding: 12px 0;
      position: relative;
      padding-left: 40px;
      span {
        font-weight: bold;
        color: #F68E2F;
      }
    }
    p::before {
      content: "";
      display: inline-block;
      width: 28px;
      height: 28px;
      background-image: url('/img/Checkbox.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: 30%;
    }
  }
  &-footer {
    font-weight: bold;
    text-align: center;
    padding-top: 49px;
  }
  @media screen and (min-width: 429px) {
  }
  @media screen and (min-width: 750px) {
  }

}

// Solution
.solution {
  &-top{
    background-color: #F68E2F;
    width: 100px;
    height: 100px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    &::before {
      content: "";
      border: 5px solid transparent;
      border-top: 5px solid #F68E2F;
      margin-left: -5px;
      top: 100%;
      left: 50%;
      position: absolute;
    }
    &::after {
      
    }

    &-box {
      background-image: url('/img/Solution.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-size: 375px;
      &::before {
        content: "";
        /* width: 100%; */
        border-left: 187px solid transparent;
        border-right: 187px solid transparent;
        border-top: 70px solid #EEEEEE;
        position: absolute;
      }
      &-ttl {
        color: #FFFFFF;
        font-size: 16px;
        text-align: center;
      }
    }
    &-text {
      color: #5F5D5D;
      font-size: 28px;
      text-align: center;
      font-weight: bold;
      padding-bottom: 32px;
      span {
        color: #335C93;
      }
    }
  }
  &-box {
    text-align: center;
    margin: 20px 0 24px;
    position: relative;
    &::after {
      content: "";
      display: inline-block;
      width: 142px;
      height: 147px;
      background-image: url('/img/solution-oil.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      right: -11px;
      top: -70px;
    }
    &-ttl {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after,&::before {
        content: "";
        display: inline-block;
        width: 40px;
        height: 1px;
        background-color: #fff;
      }
    }
    &-text {
      text-align: center;
      background: #5F5D5D;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fff;
      span {
        // color: #F68E2F;
        font-size: 24px;
        background: #F68E2F;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
      }
    }
  }
  &-approve {
    max-width: 345px;
    padding-bottom: 24px;
    margin: 0 auto;
    position: relative;
    &::after {
      content: "";
      display: inline-block;
      width:  100px;
      height: 50px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 50px;
      right: -12px;
    }
    &-box {
      padding-bottom: 36px;
    }
    &-01 {
      &::after {
        background-image: url('/img/solution-detail.png');
      }
    }
    &-02 {
      &::after {
        background-image: url('/img/solution-beautiful.png');
      }
    }
    &-03 {
      &::after {
        background-image: url('/img/solution-lasting.png');
      }
    }
    &-04 {
      &::after {
        background-image: url('/img/solution-personal.png');
      }
    }
    &-05 {
      &::after {
        background-image: url('/img/solution-painless.png');
      }
    }
    h3 {
      color: #335C93;
      font-size: 36px;
      text-align: center;
    }
    img {
      padding: 16px 0;
    }
    &-ttl {
      color: #5F5D5D;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
    &-text {
      text-align: left;
      font-size: 15px;
    }
  }
  @media screen and (min-width: 429px) {
  }
  @media screen and (min-width: 750px) {
  }

}

// compare
.compare {
  width: 375px;
  height: auto;
  background-image: url('/img/compare-top.png');
  background-size: contain;
  background-repeat: no-repeat;
  &-top {
    padding-top: 40px;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 168px;
      height: 186px;
      background-image: url('/img/magnifying-glass.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      bottom: -90px;
    }
    p  {
      text-align: center;
      font-weight: bold;
      &::after, &::before {

      }
    }
    &-bubble {
      width: 145px;
      font-size: 14px;
      color: #fff;
      background-color: #335C93;
      margin: 0 auto;
    }
    &-ttl {
      font-size: 21px;
      text-align: center;
      color: #5F5D5D;
      span {
        font-size: 28px;
        color: #335C93;
      }
    }
  }
  @media screen and (min-width: 429px) {
  }
  @media screen and (min-width: 750px) {
  }

}

// price
.price {
  background-color: #ECF1F8;
  margin: 0 auto;
  &-top {
    text-align: center;
    color: #5F5D5D;
    padding: 32px 15px;
    h2 {
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      padding: 8px 0 24px;
    }
    p {
      text-align: left;
      font-size: 16px;
      font-weight: 600;
    }
  }
  &-box {
    text-align: center;
    padding: 0 12px 32px;
    h3 {
      font-size: 20px;
      font-weight: 900;
      text-align: center;
      position: relative;
      padding: 19px 0 13px;
      &::before {
        content: "";
        display: inline-block;
        width: 171px;
        height: 35px;
        background-image: url('/img/Subtract.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 26%;
        top: 11px;
      }
    }
    &01 {
      display: flex;
      justify-content: center;
      align-items: baseline;
      img {
        height: 13px;
        padding: 0 15px 0 9px;
      }
    }
    &-off {
      color: #5F5D5D;
      font-size: 16px;
    }
    &-number {
      color: #335C93;
      font-size: 44px;
    }
    &-1time {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      &-text {
        padding: 0 9px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        background: linear-gradient(90deg, #1274CE, #335C93);
      }
      &-original {
        font-size: 26px;
        color: #5F5D5D;
        position: relative;
        font-family: math;
        margin: 0 0 0 8px;
        &::before {
          position: absolute;
          content: "";
          display: block;
          transform: rotate(-10deg);
          background-color: red;
          width: 77%;
          height: 1px;
          top: 50%;
          left: 0;
        }
        ruby {
          font-size: 14px;
        }
        rt {
          font-size: 10px;
        }
        &-discount {
          font-size: 34px;
          color: #335C93;
          font-family: math;
          ruby {
            font-size: 16px;
            color: #5F5D5D;
          }
          rt {
            font-size: 10px;
          }
        }
      }
      img {
        height: 13px;
      }
    }
  }
  &-limited {
    &-price {
      display: flex;
      height: 22px;
      filter: drop-shadow(2px 2px 2px #4e4e4e);
    }
    &-time {
      width: 88px;
      font-size: 15px;
      text-align: center;
      margin:0 2%;
      display:inline-block;
      border: 1px solid #335C93;
      background-color: #fff;
      transform:skewX(150deg);
    }
  }
  &-special-offer {
    width: 88px;
    font-size: 15px;
    text-align: center;
    margin:0 2%;
    display:inline-block;
    color: #fff;
    background: linear-gradient(90deg, #1274CE, #335C93);
    transform:skewX(150deg);
  }
  @media screen and (min-width: 429px) {
  }
  @media screen and (min-width: 750px) {
  }

}

// why-mesogan
.why-mesogan {
  background-color: #F7F7F7;
  text-align: center;
  padding: 32px 14px;
  h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #5F5D5D;
    padding-top: 8px;
    padding-bottom: 32px;
  }
  img {
    padding: 0;
  }
  p {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #5F5D5D;
    padding-top: 24px;
    span {
      color: #335C93;
    }
  }
  @media screen and (min-width: 429px) {
  }
  @media screen and (min-width: 750px) {
  }

}

// flow
.flow {
  background-color: #F2EDE7;
  position: relative;
  margin-top: 82px;
  padding-bottom: 52px;
  &-top {
    width: 151px;
    height: 141px;
    background-color: #F2EDE7;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: -58px;
    left: 29%;
    z-index: 1;
    p {
      text-align: center;
    }
  }
  &-step {
    display: flex;
    position: relative;
    background: linear-gradient(90deg, #1274CE, #335C93);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    justify-content: center;
    z-index: 5;
    &::before {
      content: '簡単';
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      background: linear-gradient(90deg, #1274CE, #335C93);
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;  
      position: absolute;
      left: 17%;
      top: 45%;
    }

    &-number {
      font-size: 67px;
      background: linear-gradient(90deg, #1274CE, #335C93);
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;

      span {
        font-size: 87px;
        background: linear-gradient(90deg, #1274CE, #335C93);
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;  
      }
      &::before {
        position: absolute;
        left: 74px;
        top: 33px;
        content: "";
        width: 1px;
        height: 30%;
        background: linear-gradient(90deg, #1274CE, #335C93);
        border-radius: 3px;
        transform: rotate(-75deg);
      }
      &::after {
        position: absolute;
        content: "";
        left: 74px;
        top: 80px;
        width: 1px;
        height: 30%;
        background: linear-gradient(90deg, #1274CE, #335C93);
        border-radius: 3px;
        transform: rotate(75deg);
      }
    }
  }
  &-step01 {
    background-color: #fff;
    padding: 16px;
    margin: 16px;
    &-top {
      display: flex;
      align-items: center;
      ruby {
        font-size: 30px;
        color: #5F5D5D;
        padding-right: 16px;
      }
      rt {
        font-size: 10px;
      }
      p {
        background: linear-gradient(90deg, #1274CE, #335C93);
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        font-size: 22px;
        font-weight: bold;
      }
    }
    p {
      text-align: left;
    }
  }
  @media screen and (min-width: 429px) {
  }
  @media screen and (min-width: 750px) {
  }

}

// details
.details {
  background-image: url('/img/details.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 375px;
  padding: 38px 0;
  h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #5F5D5D;
    padding-bottom: 32px;
  }
  &-contents {
    border-top: 1px solid #B5B5B5;
    position: relative;
    padding: 12px 0;
    margin: 0 20px;
    &:last-child {
      border-bottom: 1px solid #B5B5B5;
    }
    &::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 16px;
    }
    &-01 {
      &::before {
        background-image: url('/img/bright-stars.png');
      }
    }
    &-02 {
      &::before {
        background-image: url('/img/Bath-tub.png');
      }
    }
    &-03 {
      &::before {
        background-image: url('/img/Calendar-squares.png');
      }
    }
    &-04 {
      &::before {
        background-image: url('/img/Thunder.png');
      }
    }
    &-05 {
      &::before {
        background-image: url('/img/Injecting-Syringe.png');
      }
    }
    &-06 {
      &::before {
        background-image: url('/img/Recovery.png');
      }
    }
    &-07 {
      &::before {
        background-image: url('/img/Makeup-palette.png');
      }
    }
    &-08 {
      &::before {
        background-image: url('/img/Washing.png');
      }
    }
    &-09 {
      &::before {
        background-image: url('/img/Shower-head.png');
      }
    }
    &-10 {
      &::before {
        background-image: url('/img/Bath-tub.png');
      }
    }
    &-11 {
      &::before {
        background-image: url('/img/Cold-sore.png');
      }
    }
    &-12 {
      &::before {
        background-image: url('/img/Caution sign.png');
      }
    }
    p {
      text-align: left;
      padding: 4px 0 4px 27px;
    }
  }
  &-content-text {
    padding-left: 27px;
  }
  @media screen and (min-width: 429px) {
  }
  @media screen and (min-width: 750px) {
  }

}

// access
.access {
  padding: 40px 14px;
  h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #5F5D5D;
  }
  img {
    padding: 16px 0 14px;
  }
  p {
    text-align: left;
  }
  &-ttl {
    background-color: #ECF1F8;
    font-size: 16px;
    font-weight: bold;
    color: #5F5D5D;
    padding: 5px 0 5px 10px;
  }
  &-text {
    color: #5F5D5D;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 0 12px 10px;
  }
  table {
    width: 100%;
    color: #5F5D5D;
    margin: 16px 0 0 0;
    tr {
      border-bottom: 1px solid #B5B5B5;
    }
    th {
      padding: 16px 0;
    }
    td {
    }
  }
  &-first {
    width: 82px;
    font-weight: bold;
    padding-right: 18px !important;
  }
  @media screen and (min-width: 429px) {
  }
  @media screen and (min-width: 750px) {
  }

}

// mechanism
.mechanism {
  background-image: url('/img/mechanism-bg.png');
  background-size: contain;
  padding: 56px 15px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 375px;
  h3 {
    text-align: center;
    color: #335C93;
    font-weight: bold;
    font-size: 22px;
    position: relative;
    &::before {
      content: "";
      display: inline-block;
      width: 263px;
      height: 76px;
      background-image: url('/img/mechanism.png');
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: -30px;
      left: 13%;
    }
  }
  &-box {
    padding-top: 40px;
  }
  .toggle {
    display: none;
  }
  .Label {
    padding: 1em;
    display: block;
    color: #335C93;
    border: 1px solid #4e4e4e;
    background:#fff;
    background-image: linear-gradient(135deg, #335C93 10px, transparent 0);
  }
  .Label::before{		/*タイトル横の矢印*/
    content:"";
    width: 6px;
    height: 6px;
    border-top: 2px solid #5F5D5D;
    border-right: 2px solid #5f5f5f;
    -webkit-transform: rotate(45deg);
    position: absolute;
    top:calc( 50% - 3px );
    right: 20px;
    transform: rotate(135deg);
  }
  .Label,
  .content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;

  }
  .content {		/*本文*/
    height: 0;
    background-color: #fff;
    margin-bottom:10px;
    padding:0 20px;
    overflow: hidden;
    background-image: linear-gradient(-45deg, #335C93 10px, transparent 0);
    // filter: drop-shadow(2px 2px 2px #4e4e4e);
    border: 1px solid #4e4e4e;
    border-top: none;
  }
  .toggle:checked + .Label + .content {	/*開閉時*/
    height: auto;
    padding:20px ;
    transition: all .3s;
  }
  .toggle:checked + .Label::before {
    transform: rotate(-45deg) !important;
  }
  @media screen and (min-width: 429px) {
  }
  @media screen and (min-width: 750px) {
  }

}

// qa
.qa {
  &-top {
    background-image: url('/img/qa-top-bg.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 375px;
    position: relative;
    &::after {
      content: "";
      display: inline-block;
      width: 104px;
      height: 75px;
      background-image: url('/img/qa-gun.png');
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      bottom: -25px;
      right: 0;
    }
  }
  &-logo {
    color: #fff;
    font-size: 40px;
    text-align: center;
    span {
      font-size: 22px;
    }
  }
  &-ttl {
    color: #fff;
    text-align: center;
    font-size: 26px;
    padding-bottom: 20px;
  }
  &-box {
    padding: 32px 16px;
  }
  .toggle {
    display: none;
  }
  .Label {
    font-size: 16px;
    padding: 1em 2rem 1rem 1rem;
    display: flex;
    align-items: center;
    color: #335C93;
    background:#fff;
    filter: drop-shadow(1px 1px 1px #4e4e4e);
    &::before,&::after{
      content:"";
      width: 15px;
      height: 6px;
      border-top: 2px solid #335C93;
      position: absolute;
      top: 47%;
      right: 20px;
    }
    &::after {
      transform: rotate(90deg);
      right: 23px;
      top: 42%;
    }
    &::before {

    }
    p {
      background-color: #335C93;
      color: #fff;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 12px;
    }
  }

  .Label,
  .content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
  }
  .content {
    display: flex;
    align-items: center;
    height: 0;
    background-color: #fff;
    margin-bottom:10px;
    padding:0 20px;
    overflow: hidden;
    filter: drop-shadow(2px 2px 2px #4e4e4e);
    p {
      font-size: 16px;
    }
  }
  &-A {
    width: 36px;
    height: 36px;
    padding: 0 13px;
    border-radius: 50px;
    background-color: #335C93;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
  }
  .toggle:checked + .Label + .content {	/*開閉時*/
    height: auto;
    padding:16px ;
    transition: all .3s;
  }
  .toggle:checked + .Label::after {
    transform: rotate(0deg) !important;
  }
  .toggle:checked + .Label::before {
    border-top: none;
  }
  @media screen and (min-width: 429px) {
  }
  @media screen and (min-width: 750px) {
  }

}