@charset "UTF-8";
body {
  font-family: serif;
  max-width: 375px;
  margin: 0 auto;
}

p {
  text-align: center;
}

header {
  color: #5F5D5D;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 14px 16px;
}
header img {
  width: auto;
  height: 100%;
}
header .header-first-text {
  font-size: 12px;
}
header .header-last-text {
  font-size: 16px;
}

footer {
  display: flex;
  background-color: #073160;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 16px 15px 15px 18px;
}
footer img {
  width: 31px;
  height: 31px;
}
footer .footer-left {
  display: flex;
}
footer .footer-first-text {
  font-size: 12px;
}
footer .footer-last-text {
  font-size: 16px;
}
footer .footer-right {
  width: 78px;
  font-size: 12px;
}

.header-under {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #1274CE, #335C93);
  color: #fff;
}
.header-under ::after, .header-under ::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 20px;
  background-image: url("/img/head-speech.png");
  background-position: center;
  background-size: contain;
}
.header-under ::before {
  transform: scaleX(-1);
}

.mesogan {
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("/img/mesogan-bg.jpg");
  background-position: center;
  background-size: contain;
}
.mesogan-left {
  width: 50%;
  padding: 20px 10px 40px 10px;
}
.mesogan-ttl {
  color: #5F5D5D;
  font-size: 28px;
  font-weight: bold;
}
.mesogan-name {
  font-weight: bold;
  font-size: 46px;
  letter-spacing: -12px;
  background: linear-gradient(90deg, #1274CE, #335C93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
.mesogan-text::after, .mesogan-text ::before {
  content: "";
  display: inline-block;
  width: 178px;
  height: 1px;
  background-image: url("/img/mesogan-border.png");
  background-position: center;
  background-size: contain;
}
.mesogan-right {
  width: 50%;
  position: relative;
}
.mesogan-right img {
  position: absolute;
  width: 333px;
  height: 283px;
  right: 0;
  bottom: -5px;
}

.treatment-area {
  background: linear-gradient(90deg, #1274CE, #335C93);
  padding: 16px 15px 5px 16px;
  color: #fff;
}
.treatment-area small {
  font-size: 10px;
}

.Item {
  width: 100%; /*お好みで調整*/
}

.Item-Content {
  position: relative;
  border: 1px solid #fff;
}

.Item-Content-Flg1 { /*三角形左上*/
  position: absolute;
  top: 0;
  left: 0;
  border-left: 12px solid #fff;
  border-bottom: 12px solid transparent;
}

.Item-Content-Flg2 { /*三角形右下*/
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 12px solid transparent;
  border-bottom: 12px solid #fff;
}

.Item-Content-Flg3 { /*三角形左下*/
  position: absolute;
  bottom: 0;
  left: 0;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
}

.Item-Content-Flg4 { /*三角形右上*/
  position: absolute;
  top: 0;
  right: 0;
  border-top: 12px solid #fff;
  border-left: 12px solid transparent;
}

.Item-Content-Title {
  display: flex;
  justify-content: center;
  letter-spacing: 0.14em;
  color: #fff;
}
.Item-Content-Title p {
  font-size: 12px;
  padding: 5px 9px;
  border-right: 1px solid #fff;
}
.Item-Content-Title p:last-child {
  border-right: none;
}

.campaign {
  content: "";
  display: inline-block;
  width: auto;
  height: auto;
  border: 3px solid #925009;
  background-image: url("/img/campaign-bg.png");
  background-position: center;
  background-size: contain;
  text-align: center;
  padding: 24px 5px;
}
.campaign-ttl {
  color: #99A9AC;
  font-size: 38px;
  text-align: center;
}
.campaign-reservation {
  color: #5F5D5D;
  position: relative;
  display: inline-block;
  padding: 0 30px;
  margin-bottom: 36px;
}
.campaign-reservation::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 1px;
  height: 100%;
  background: #000;
  border-radius: 3px;
  transform: rotate(-25deg);
}
.campaign-reservation::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #000;
  border-radius: 3px;
  transform: rotate(25deg);
}
.campaign-button {
  background-color: #F68E2F;
}
.campaign-footer {
  font-size: 12px;
  font-weight: bold;
}

.detail {
  content: "";
  display: inline-block;
  width: auto;
  height: auto;
  border: 3px solid #925009;
  background-image: url("/img/detail-bg.png");
  background-position: center;
  background-size: contain;
  padding: 40px 16px;
}
.detail h2 {
  color: #335C93;
  font-size: 24px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #335C93;
  margin-bottom: 24px;
}
.detail h2 span {
  font-size: 16px;
}
.detail h2 img {
  position: absolute;
  left: 52px;
  top: -20px;
}
.detail-Content {
  position: relative;
  border: 1px solid #335C93;
  background-color: #fff;
}
.detail-Content-Title {
  display: flex;
  justify-content: center;
  letter-spacing: 0.14em;
  background-image: linear-gradient(45deg, #335C93 10px, transparent 0), linear-gradient(-45deg, #335C93 10px, transparent 0), linear-gradient(135deg, #335C93 10px, transparent 0), linear-gradient(-135deg, #335C93 10px, transparent 0);
}
.detail-Content-Title p {
  font-size: 14px;
  padding: 5px 9px;
  border-right: 1px solid #335C93;
}
.detail-Content-Title span {
  color: #F68E2F;
}

.trouble {
  content: "";
  display: inline-block;
  width: auto;
  height: auto;
  background-color: #EEE;
  padding: 40px 15px 30px;
}
.trouble-head {
  color: #5F5D5D;
  font-size: 18px;
  content: "";
  display: inline-block;
  width: auto;
  height: auto;
  background-image: url("/img/trouble-head.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.trouble-head p {
  text-align: center;
}
.trouble-head-ttl {
  font-size: 24px;
  background-image: radial-gradient(circle at center, orange 20%, transparent 20%); /* 点の色とサイズ調整 */
  background-position: top right; /* 点の位置 */
  background-repeat: repeat-x; /* 横方向に繰り返し */
  background-size: 1em 0.3em; /* 点の間隔とサイズ調整 */
  padding-top: 10px;
}
.trouble-head-worries {
  color: #335C93;
  font-size: 24px;
}
.trouble-main {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 12px;
}
.trouble-main p {
  padding: 12px 0;
  position: relative;
  padding-left: 40px;
}
.trouble-main p::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url("/img/Checkbox.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 30%;
}
.trouble-footer {
  text-align: center;
  padding-top: 49px;
}

.solution-top {
  background-color: #F68E2F;
  width: 100px;
  height: 100px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}
.solution-top::before {
  content: "";
  border: 5px solid transparent;
  border-top: 5px solid #F68E2F;
  margin-left: -5px;
  top: 100%;
  left: 50%;
  position: absolute;
}
.solution-top-box {
  width: 375px;
  height: auto;
  background-image: url("/img/Solution.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.solution-top-box-ttl {
  color: #FFFFFF;
  font-size: 16px;
}
.solution-top-text {
  color: #5F5D5D;
  font-size: 28px;
}
.solution-top-text span {
  color: #335C93;
}
.solution-box {
  color: #FFFFFF;
  font-size: 20px;
  background-color: #335C93;
  text-align: center;
  width: 305px;
  margin: 0 auto;
}
.solution-box-text {
  background: #5F5D5D;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
.solution-box span {
  font-size: 24px;
  background: #F68E2F;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}/*# sourceMappingURL=style.css.map */